@using SSRD.IdentityUI.Admin.Areas.IdentityAdmin.Models.Menu

<nav class="sidebar sidebar-offcanvas menu-line-color" id="sidebar">
    <ul class="nav">
        <li class="nav-item @(SidebarSelection.SelectedOption == SidebarOptions.Dashboard ? "active": "")">
            <a class="nav-link" href="@PagePath.DASHBOARD">
                <i class="fas fa-chart-line"></i>
                <span class="menu-title i-mar">Dashboard</span>
            </a>
        </li>
        <li class="nav-item @(SidebarSelection.SelectedOption == SidebarOptions.User ? "active": "")">
            <a class="nav-link" href="@PagePath.USER">
                <i class="fas fa-user"></i>
                <span class="menu-title i-mar">User</span>
            </a>
        </li>
        <li class="nav-item @(SidebarSelection.SelectedOption == SidebarOptions.Role ? "active": "")">
            <a class="nav-link" href="@PagePath.ROLE">
                <i class="far fa-id-badge"></i>
                <span class="menu-title i-mar">Role</span>
            </a>
        </li>
    </ul>
</nav>