@model SSRD.IdentityUI.Admin.Areas.GroupAdmin.Models.Dashboard.GroupedStatisticsViewModel

@{
    GroupAdminSidebarSelection.SelectedOption = GroupAdminSidebarOptions.Dashboard;
}

@{
    ViewData["Title"] = "Dashboard";
}



@section script {
    <script type="text/javascript" src="~/adminUI/app/lib/apex-charts/apexcharts.min.js" asp-append-version="true"></script>
    <script>

        $(document).ready(function () {
            new registarionsGraph('@Model.GroupId');
        });

        class registarionsGraph {
            constructor(groupId) {
                this.groupId = groupId;

                this.fromDate = moment.utc().startOf('month');
                this.toDate = moment.utc().add(1, 'M').startOf('month');

                $('#minus-one').click(() => {
                    this.monthMinusOne();
                });

                $('#plus-one').click(() => {
                    this.monthPlusOne();
                });

                this.initChart();

                this.getGraph();
            }

            initChart() {
                this.chart = new ApexCharts(
                    document.querySelector("#chart-apex-area"),
                    {
                        chart: {
                            height: 350,
                            type: 'area',
                            zoom: {
                                enabled: false
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            curve: 'straight'
                        },
                        series: [],
                        xaxis: {
                            type: 'datetime',
                            tickPlacement: 'between',
                        },
                        yaxis: {
                            forceNiceScale: false,
                            decimalsInFloat: 2,
                            opposite: true
                        },
                        legend: {
                            horizontalAlign: 'left'
                        }
                    });

                this.chart.render();
            }

            monthMinusOne() {
                this.fromDate = this.fromDate.subtract(1, 'M');
                this.toDate = this.toDate.subtract(1, 'M');

                this.getGraph();
            }

            monthPlusOne() {
                this.fromDate = this.fromDate.add(1, 'M');
                this.toDate = this.toDate.add(1, 'M');

                this.getGraph();
            }

            getGraph() {
                Api.get(`/api/GroupAdmin/${this.groupId}/Dashboard/GetActivityStatistics?from=${this.fromDate.toISOString()}&to=${this.toDate.toISOString()}`)
                    .done((data) => {
                        let series = data.map((e) => {
                            let r = { x: e.dateTime, y: e.value }

                            return r;
                        });

                        this.chart.updateSeries([{
                            name: 'Activities',
                            data: series
                        }]);

                        let selectedMonthString = this.fromDate.format('MMMM YYYY');
                        $("#selected-month").text(selectedMonthString);
                    })
                    .fail((resp) => {
                        console.log(resp);
                    });
            }
        }


    </script>
}

<div class="row cards-row">
    <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body card-blue">
                <div class="icon">
                    <i class="fas fa-users fa-2x"></i>
                </div>
                <div class="text">
                    <p class="custom-card-title">All Users</p>
                    <h3 class="custom-card-info">@Model.UsersCount</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body card-green">
                <div class="icon">
                    <i class="fas fa-user-check fa-2x"></i>
                </div>
                <div class="text">
                    <p class="custom-card-title">Active Users</p>
                    <h3 class="custom-card-info">@Model.ActiveUsersCount</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body card-yellow">
                <div class="icon">
                    <i class="fas fa-user-times fa-2x"></i>
                </div>
                <div class="text">
                    <p class="custom-card-title">Unconfirmed Users</p>
                    <h3 class="custom-card-info">@Model.UnconfirmedUsersCount</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body card-red">
                <div class="icon">
                    <i class="fas fa-user-lock fa-2x"></i>
                </div>
                <div class="text">
                    <p class="custom-card-title">Disabled Users</p>
                    <h3 class="custom-card-info">@Model.DisabledUsersCount</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-card mb-3 card fullWidthCard">
    <div class="card-body">
        <div class="card-title-space">
            <h5 class="card-title">Number of user activities per day</h5>
        </div>
        <div class="graph-holder">
            <div id="chart-apex-area"></div>
        </div>
        <div class="row graph-buttons-row">
            <div class="month-back" id="minus-one"><button type="button"><i class="fas fa-angle-left fa-2x"></i></button></div>
            <div class="month-name"><p class="text-center mb-3 mt-3" id="selected-month"></p></div>
            <div class="month-forward" id="plus-one"><button type="button"><i class="fas fa-angle-right fa-2x"></i></button></div>
        </div>
    </div>
</div>
