@model SSRD.IdentityUI.Account.Areas.Account.Models.Account.LoginViewModel

@{
    Layout = "/Areas/Account/Views/Account/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Login";
}

@section style {
    <link rel="stylesheet" href="~/adminUI/template/vendors/fontawesome-free-5.14.0-web/css/all.css" asp-append-version="true" />
}

@section script {
    <script type="text/javascript" src="~/adminUI/app/js/utils/Api.js" asp-append-version="true"></script>
    
    @await Component.InvokeAsync("AdminUIReCaptchaJavaScript", new { action = "login", formContainer = "#login-form" })

}
<div class="app-container">
    <div class="h-100 bg-plum-plate bg-animation">

        <div id="login-screen" class="d-flex min-vh-100 justify-content-center align-items-center">
            <div class="@if (Model.ExternalLogins.Count > 0) { @Html.Raw("main-card mb-3 col-lg-12 col-xl-6 card") } else { @Html.Raw("main-card mb-3 col-md-12 col-lg-6 col-xl-3 card") }">
                <div class="h5 modal-title text-center">
                    <h4 class="custom-margin-top modal-header-custom">
                        <div> Welcome back,</div>
                    </h4>
                </div>
                <div class="card-body row ">
                    <div id="login-form" class="@if (Model.ExternalLogins.Count > 0) { @Html.Raw("col-lg-6 col-md-12 login-row") } else { @Html.Raw("col-lg-12 col-md-12 login-row") }">
                        <form id="classic-login" class="" asp-area="Account" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div class="modal-body login-padding">
                                <div class="h5 modal-title text-center">
                                    <h4 class="mt-2 modal-header-custom">
                                        <span>Please sign in to your account below.</span>
                                    </h4>
                                </div>

                                @await Component.InvokeAsync("AdminUIReCaptchaInput")

                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="position-relative form-group">
                                            <input asp-for="UserName" placeholder="Email here..." type="text" class="form-control">
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="position-relative form-group">
                                            <input asp-for="Password" placeholder="Password here..." type="password" class="form-control">
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                @await Component.InvokeAsync("AdminUIErrorAlertRazor")
                                <div class="position-relative form-check checkbox-keep">
                                    <label class="form-check-label">
                                        <input asp-for="RememberMe" type="checkbox" class="form-check-input">
                                        Keep me logged in
                                    </label>
                                </div>
                                <div class="divider"></div>
                                <button class="btn btn-block btn-primary btn-lg font-weight-medium">Login</button>

                                @if (Model.RegistrationEnabled)
                                {
                                    <h6 class="mt-4 mb-2">No account? <a href="@PagePath.REGISTER" class="text-primary">Sign up</a> </h6>
                                }
                                @if (Model.GroupRegistrationEnabled)
                                {
                                    <div class="mt-2 mb-2">
                                        <h6 class="mt-4 mb-2">Register group? <a href="@PagePath.REGISTER_GROUP" class="text-primary">Sign up</a> </h6>
                                    </div>
                                }
                                @if (Model.PasswordRecoveryEnabled)
                                {
                                    <div class="mt-2 mb-2">
                                        <h6 class="mb-0">Forgotten Password? <a href="@PagePath.RECOVER_PASSWORD" class="text-primary">Recover</a> </h6>
                                    </div>
                                }
                            </div>
                        </form>
                    </div>
                    @if (Model.ExternalLogins.Count > 0)
                    {
                        <div class="col-lg-6 col-sm-12 login-row login-row-border">                  
                                <div class="modal-body login-padding">
                                    <div class="h5 modal-title text-center">
                                        <h4 class="mt-2 modal-header-custom">
                                            <span>or use one of your other profiles to proceed.</span>
                                        </h4>
                                    </div>
                                    <div>
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            if (provider.Name == "Google")
                                            {
                                                <form id="external-account" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                                    <div class="col-md-12">
                                                        <input name="Provider" type="hidden" value="@provider.Name" />

                                                        <button type="submit" class="btn btn-block btn-google" title="Log in using your @provider.DisplayName account">
                                                            <i class="fab fa-google-plus-g fa-align-left social-icon" style=""></i>
                                                            <span class="text">Google</span>
                                                        </button>
                                                    </div>
                                                </form>
                                            }
                                            else if (provider.Name == "Facebook")
                                            {
                                                <form id="external-account" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                                    <div class="col-md-12">
                                                        <input name="Provider" type="hidden" value="@provider.Name" />

                                                        <button class="btn-block btn btn-facebook" type="submit" value="@provider.Name"
                                                                title="Log in using your @provider.DisplayName account">

                                                            <i class="fab fa-facebook-f fa-align-left social-icon"></i>
                                                            <span class="text">Facebook</span>
                                                        </button>
                                                    </div>
                                                </form>
                                            }
                                            else if (provider.Name == "Twitter")
                                            {
                                                <form id="external-account" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                                    <div class="col-md-12">
                                                        <input name="Provider" type="hidden" value="@provider.Name" />
                                                        <button class="btn-block btn btn-twitter" type="submit" value="@provider.Name"
                                                                title="Log in using your @provider.DisplayName account">

                                                            <i class="fab fa-twitter fa-align-left social-icon"></i>
                                                            <span class="text">Twitter</span>
                                                        </button>
                                                    </div>
                                                </form>
                                            }
                                            else if (provider.Name == "Microsoft")
                                            {
                                                <form id="external-account" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                                    <div class="col-md-12">
                                                        <input name="Provider" type="hidden" value="@provider.Name" />
                                                        <button class="btn-block btn btn-microsoft" type="submit" value="@provider.Name"
                                                                title="Log in using your @provider.DisplayName account">

                                                            <i class="fab fa-microsoft fa-align-left social-icon"></i>
                                                            <span class="text">Microsoft</span>
                                                        </button>
                                                    </div>
                                                </form>
                                            }
                                            else
                                            {
                                                <form id="external-account" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                                    <div class="col-md-12">
                                                        <input name="Provider" type="hidden" value="@provider.Name" />
                                                        <button class="btn-block btn btn-other" type="submit" name="provider"
                                                                title="Log in using your @provider.DisplayName account">

                                                            <i class="fas fa-share-alt fa-align-left social-icon"></i>
                                                            <span class="text">Sign in with @provider.Name</span>


                                                        </button>
                                                    </div>
                                                </form>
                                            }
                                        }
                                    </div>
                                </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
